.Footer {
  padding: 5%;
  padding-bottom: unset;
}
.Footer > * {
  margin-bottom: 40px;
}
.Footer__first p {
  color: #fff;
  width: 15ch;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2rem;
  padding-left: 20px;
}
.Footer__second p {
  font-size: 1.6rem;
  font-weight: 500;
}
.Footer__third {
  width: 40%;
  justify-content: space-between;
}
.Footer__third input {
  height: 50px;
  border-radius: 80px;
  width: 65%;
}
.Footer__third input {
  font-size: 1.2rem;
  color: #ffffff;
}
.Footer__third input :focus {
  color: #ffffff;
}
.Footer__third input::-webkit-input-placeholder {
  font-size: 1.2rem;
  color: #ffffff;
  margin-left: 20px;
  text-align: center;
}
.Footer__third button {
  border: none;
  cursor: pointer;
  border-radius: 80px;
  padding: 1em;
  width: 30%;
  background: linear-gradient(105.5deg, #ee5060 19.57%, #b25a59 78.85%);
}
.Footer__third p {
  color: #ffffff;
  font-size: 1.2rem;
}
.Footer__fourth-links li {
  list-style: none;
  color: #ffffff;
  margin: 0px 10px;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}
.Footer__fifth {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}

@media screen and (max-width: 1150px) {
  .Footer__third {
    width: 60%;
  }
}
@media screen and (max-width: 650px) {
  .Footer__third {
    width: 90%;
  }
  .Footer__third button {
    width: 40%;
  }
}
