.Globallyaccepted__container {
  padding: 5%;
  width: 100%;
}
.Globallyaccepted__text {
  max-width: 60ch;
  line-height: 2.5rem;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  margin: 30px 0px 50px 0px;
}
.Globallyaccepted__categories {
  width: 80%;
  justify-content: space-between;
}

@media screen and (max-width: 650px) {
  .Globallyaccepted__categories {
    flex-direction: column;
  }
}
